# 1. Ignorar archivos masivos y comprimidos
*.zip
*.tar
*.tar.gz
*.h5
*.hdf5

# 2. Ignorar TODO el contenido dentro de las carpetas de datos
data/raw/*
data/processed/*

# 3. EXCEPCIONES: Obligar a Git a ver solo los .gitkeep
!data/raw/.gitkeep
!data/processed/.gitkeep

# 4. Ignorar entornos virtuales y sistema
.venv/
.DS_Store

# 5. Ignorar caché de Python y Jupyter
__pycache__/
*.pyc
.ipynb_checkpoints/